body {
   background-color: darkgray;
   color: white;
   margin: 0 auto;
   width: fit-content;
   text-align:left;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 28px;
}

li{
    font-size: 24px;
    list-style-type: none;
}

a{
    color:red;
    text-decoration: none;

}

a:hover{
color: rgb(70, 0, 0);
text-decoration: overline;
}